<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${dubbo.application.name}" />

	<dubbo:registry id="r1" address="${dubbo.registry.address}"
		check="false" default="true" />
	<dubbo:registry id="r2" address="${dubbo.registry.address2}"
		default="false" />
	<!-- <dubbo:registry id="c2" address="${dubbo.registry.address2}" default="false" 
		/> -->

	<dubbo:consumer check="false" lazy="true" />


</beans>